<a href="https://colab.research.google.com/github/roissyahf/demo-github-course/blob/main/SATS4421_THE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Matrix multiplication

In [ ]:
#create matrix 2x15
m_a = [[1, -3, 4, -1, 2, -3, -1, 5, 2, 0, -4, -1, 2, -1, -2],
       [-1, 2, -2, 0, 1, 0, 2, -3, 0, 1, 0, 2, 3, -3, -2]
]
m_a

[[1, -3, 4, -1, 2, -3, -1, 5, 2, 0, -4, -1, 2, -1, -2],
 [-1, 2, -2, 0, 1, 0, 2, -3, 0, 1, 0, 2, 3, -3, -2]]

In [ ]:
#create matrix 15x2 (tranpose of m_a)
result = [[0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
    [0,0],
]

#iterate through rows
for i in range(len(m_a)):
  #iterate through columns
  for j in range(len(m_a[0])):
    result[j][i] = m_a[i][j]

#print result
for r in result:
  print(r)

[1, -1]
[-3, 2]
[4, -2]
[-1, 0]
[2, 1]
[-3, 0]
[-1, 2]
[5, -3]
[2, 0]
[0, 1]
[-4, 0]
[-1, 2]
[2, 3]
[-1, -3]
[-2, -2]

In [ ]:
#store transpose result in m_t
m_t = [[1, -1],
       [-3, 2],
       [4, -2],
       [-1, 0],
       [2, 1],
       [-3, 0],
       [-1, 2],
       [5, -3],
       [2, 0],
       [0, 1],
       [-4, 0],
       [-1, 2],
       [2, 3],
       [-1, -3],
       [-2, -2],
]
m_t

[[1, -1],
 [-3, 2],
 [4, -2],
 [-1, 0],
 [2, 1],
 [-3, 0],
 [-1, 2],
 [5, -3],
 [2, 0],
 [0, 1],
 [-4, 0],
 [-1, 2],
 [2, 3],
 [-1, -3],
 [-2, -2]]

In [ ]:
#multiply m_a (2x15) with m_t (15x2)
#will result in matrix of (2x2)

result = [[0,0],
          [0,0]]

#iterate through rows of m_a
for i in range(len(m_a)):
  #iterate through columns of m_t
  for j in range(len(m_t[0])):
    #iterate through rows of m_t
    for k in range(len(m_t)):
      result[i][j] += m_a[i][k] * m_t[k][j]

#print result
for r in result:
  print(r)

[96, -19]
[-19, 50]